<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Investment Forcasting</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="This app is using various machine learning algorithms to predict future market returns. Some of the models have tested really well. Started with 80+ variables and narrowed it down to 10. Random forest algorithms are used in building an asset allocation model based on the statistic model results. These models using both R and Python. R was better for some algorithms but at the end Python is the main source for this model used.">
  <meta name="keywords" content="Investment, Forcasting, Machine Learning, Probability, Statistic, Investment Management, Portfolio Management, Market, Market Analysis, Market Predictions, Artificial Intelligence">
  <meta property="og:image" content="../static/img/favicon.png" xmlns:og="http://opengraphprotocol.org/schema/">
  <meta property="og:description" content="This app is using various machine learning algorithms to predict future market returns. Some of the models have tested really well. Started with 80+ variables and narrowed it down to 10. Random forest algorithms are used in building an asset allocation model based on the statistic model results. These models using both R and Python. R was better for some algorithms but at the end Python is the main source for this model used." xmlns:og="http://opengraphprotocol.org/schema/">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto">InvestOwiz</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
            <li><a href="/calc">Calculator</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../static/img//intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The best investment</h2>
                <p>you can make, is an investment in yourself. The more you learn, the more you'll earn.</p>
                <a href="/calc" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Wealth is only a benefit</h2>
                <p>of the game of money. If you win, the money will be there.</p>
                <a href="/calc" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Two rules of Investing</h2>
                <p>Rule one - never lose money.<br>Rule two - never forget rule one.</p>
                <a href="/calc" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- #about -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Dreaming big becomes an addiction when there is a team of highly motivated members is there to achieve it. Our ever dynamic team:</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-UM03S3AH5-109f34bee2d3-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/aalok-devkota/" target="_blank">
                      <h4>Aalok Devkota</h4>
                      <span></span>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div> 

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-ULY7WKT4Y-91abccc5cb2d-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/adrianne-miller-80b04610a" target="_blank">
                      <h4>Adrianne  Miller</h4>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-ULLRDLMFU-ba92e8576c28-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/gurcharansaini/" target="_blank">
                      <h4>Gurcharan Singh</h4>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-ULY8HKSVB-e341187371e2-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/goyal-saurabh/" target="_blank">
                      <h4>Saurabh Goyal</h4>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Irvine, California, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+100000000000">+1 0000 00000 00</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>
</html>
