<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- HTML Meta Tags -->
    <title>Algorithms Based Asset Allocation</title>
    <meta name="description" content="We are empowering individual investors by providing them with the knowledge required to manage their portfolios on their own. We DO NOT believe that we can pick tops or bottoms, however, we do believe that data analytics and algorithms provide us with the odds to help us identify when to be more defensive and when to be more aggressive.">
    <meta name="keywords" content="Investment, Forcasting, Machine Learning, Probability, Statistic, Investment Management, Portfolio Management, Market, Market Analysis, Market Predictions, Artificial Intelligence">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Algorithms Based Asset Allocation">
    <meta itemprop="description" content="We are empowering individual investors by providing them with the knowledge required to manage their portfolios on their own. We DO NOT believe that we can pick tops or bottoms, however, we do believe that data analytics and algorithms provide us with the odds to help us identify when to be more defensive and when to be more aggressive.">
    <meta itemprop="image" content="https://gsingh-aws-uci.s3-us-west-1.amazonaws.com/metaimga.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://mapmyportfolio.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Algorithms Based Asset Allocation">
    <meta property="og:description" content="We are empowering individual investors by providing them with the knowledge required to manage their portfolios on their own. We DO NOT believe that we can pick tops or bottoms, however, we do believe that data analytics and algorithms provide us with the odds to help us identify when to be more defensive and when to be more aggressive.">
    <meta property="og:image" content="https://gsingh-aws-uci.s3-us-west-1.amazonaws.com/metaimga.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Algorithms Based Asset Allocation">
    <meta name="twitter:description" content="We are empowering individual investors by providing them with the knowledge required to manage their portfolios on their own. We DO NOT believe that we can pick tops or bottoms, however, we do believe that data analytics and algorithms provide us with the odds to help us identify when to be more defensive and when to be more aggressive.">
    <meta name="twitter:image" content="https://gsingh-aws-uci.s3-us-west-1.amazonaws.com/metaimga.jpg">
    <!-- Meta Tags -->

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto">Map My Portfolio</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
            <li><a href="/calc">Model / Calculator</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
<!--
          <div class="carousel-item active">
            <div class="carousel-background"><img src="../static/img//intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <div class="row">
                  <div class="col-sm-6">
                    <iframe width="560" height="315" src="https://gsingh-aws-uci.s3-us-west-1.amazonaws.com/whyus.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
-->
          <div class="carousel-item active">
            <div class="carousel-background"><img src="../static/img//intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Investment management industry is flawed</h2>
                <p>The industry is focused more on raising assets and charging fees than performance.</p>
                <a href="/calc" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Analytics and algorithms level the playing field</h2>
                <p>With the advancement in technology, analytics and algorithms it is possible for an individual to define risk and manage their own portfolio.</p>
                <a href="/calc" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Two rules of investing</h2>
                <p>Rule one - never lose money.<br>Rule two - never forget rule one.</p>
                <a href="/calc" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About</h3>
          <p>We are empowering individual investors by providing them with the knowledge required to manage their portfolios on their own.<br></p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                Our mission is to empower each and every interested individual to manage their own portfolio and keep all their hard-earned money.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                We DO NOT believe that we can pick tops or bottoms, however, we do believe that data analytics and algorithms provide us with the odds to help us identify when to be more defensive and when to be more aggressive.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                We’d like to see an end to fees based on asset-under-management (AUM). Fees should be paid for out-performance or for services received NOT indexing.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- #about -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Dreaming big becomes an addiction when there is a team of highly motivated members to achieve it. Our ever dynamic team:</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-UM03S3AH5-109f34bee2d3-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/aalok-devkota/" target="_blank">
                      <h4>Aalok Devkota</h4>
                      <span></span>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div> 

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-ULY7WKT4Y-91abccc5cb2d-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/adrianne-miller-80b04610a" target="_blank">
                      <h4>Adrianne  Miller</h4>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-ULLRDLMFU-ba92e8576c28-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/gurcharansaini/" target="_blank">
                      <h4>Gurcharan Singh</h4>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="https://ca.slack-edge.com/TKMU1FD24-ULY8HKSVB-fb58dcf57428-512" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                    <a href="https://www.linkedin.com/in/goyal-saurabh/" target="_blank">
                      <h4>Saurabh Goyal</h4>
                      <div class="social">
                        <i class="fa fa-linkedin"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>How Can We Help?</h3>
          <p>We're here to help and answer any question you might have. We look forward to hearing from you.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Irvine, California, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+14027704165">+1 402 770 4165</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:aalok@devkotacapital.com">aalok@devkotacapital.com</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>
</html>
